@using Alarms.Web.Helper
@model Alarms.Web.Models.Home.DataViewer;

@{
    string controller = ViewBag.Controller;
    var htmlAttributes = new Dictionary<string, object>() { { "data-actionreplacedirecttargets", "index-table" } };
    ViewData["Title"] = "Data Viewer";
}

<div class="text-center">
    <h1 class="">Custom data search</h1>
    <br/>
    <br />

   <div>
   <form asp-action="DataViewer" method="get">
   
     Filter  by date from: <input type="datetime-local" id="startDate" name="startDate" asp-for="startDate" />
    
     To date: <input type="datetime-local" id="endDate" name="endDate" asp-for="endDate" />
     
     Filter by  <input type="text" id="filter" name="filter" asp-for="tagName"/>
     <br /> 
     <br />
     items per page: <input type="range" id="ipp" name="ipp" min="20" max="60" step="20" asp-for="ipp"  /> <label>@Model.ipp</label>
     <br />
     <br />       

     <button class="btn btn-primary col-1" type="submit">Filter</button>
    </form>
 
    @if (Model.dbListOfData == null)
    {
        <p>Loading.....</p>
    }
    else
    {                 
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th> @*I am not going to sort by this number at any foreseeable future.*@
                 <th class=" = text-center">
                     @Html.SortHeader("Tag Name", "DataViewer", "Home" , "TagName", Context.Request.Query, htmlAttributes ) 
                     @Html.SortIdentifier("TagName", Context.Request.Query)
                     
                 </th>
                <th>
                     @Html.SortHeader("Description", "DataViewer", "Home" , "TagDescription", Context.Request.Query, htmlAttributes )
                     @Html.SortIdentifier("TagDescription", Context.Request.Query)
                    
                </th>
                <th>
                     @Html.SortHeader("Date and Time", "DataViewer", "Home" , "EventDateTime", Context.Request.Query, htmlAttributes )               
                     @Html.SortIdentifier("EventDateTime", Context.Request.Query)
                </th>
                <th>
                     @Html.SortHeader("State", "DataViewer", "Home" , "State", Context.Request.Query, htmlAttributes )                
                     @Html.SortIdentifier("State", Context.Request.Query)
                     
                </th>
                
            </tr>
        </thead>
        <tbody>

        @foreach (var tagg in Model.dbListOfData)
                {
                    Model.index = Model.index+1; 
                    <tr>     
                    <td>@Model.index</td>         
                    <td>@tagg.TagName</td> 
                    <td>@tagg.TagDescription</td>
                    <td>@tagg.EventDateTime</td>
                    <td>@tagg.State</td>
                  
           </tr>             
        }
        </table>
    }          
    
    @Html.Pagination2(Url, "DataViewer", "Home", 
    new Alarms.Logic.Models.PageInfo{
        PageNumber = Model.currPage,
        PagerSize = 8,
        PageSize = Model.pSize,
        TotalItemCount =  Model.totalPages*Model.pSize},
        Context.Request.Query,
        htmlAttributes
    )

      
     <label >@Model.currPage</label> Out Of: <label id="totalPages" name="totalPages">@Model.totalPages</label>
                    
   </div> 

</div>


 
